<!-- <app-child [title]="'Title From Parent!'"
            [numberArray]="[1,2,3,4,5]"
             (output)="output = $event"
             (stringArray)="stringArray = $event">
</app-child>


OUTPUT STRING             
<h3>{{output}}</h3>

INPUT STRINGS
<div>

    <div *ngFor="let a of stringArray">
        {{a}}
    </div>

</div>


SEND VIA SERVICE

<DIV (click)="sendMessageViaService()">sendSmth</DIV> -->
<header>
    <h1>ToDo LIST</h1>
</header>
<ng-container *ngIf="!logged">
<div class="bodyall0">
        <div>
            <input type='text' [(ngModel)]="login" id="login">
        </div>
        <div>
            <input type='text' [(ngModel)]="password" id="pw">
        </div>
        <div id="btn">
            <button (click)="auth()">Log In</button>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="logged">
<div class="bodyall">
<content>

    <div>
        <a>Create Task List</a>
        <br>
        <a>Tasklist name</a><input type="text" [(ngModel)]="name" >
        <br>
        <button (click)="createList()">Create</button>
        <br>
        <a>Create Task</a>
        <br>
        <div *ngIf="creatable">
        <br>
                    <a>Task name</a><input type="text" [(ngModel)]="name1" >
                    <br>
                    <a>Task due_on</a><input type="text" [(ngModel)]="due_on" >
                    <br>
                    <a>Task status</a><input type="text" [(ngModel)]="status" >
                    <br>
                    <a>Task ListID</a><input type="text" [(ngModel)]="tasklist_id" >
        <br>
                    <button (click)="createTask(name1, due_on, status, tasklist_id)">Create</button>
        </div>
    </div>


    <ng-container *ngIf="!loading">
        <h2>SCREW YOU, LEATHER MAN! REACT CLUB TWO BLOCK BELOW!</h2>
    </ng-container>
    <br/>
    <h2>Lists:</h2>
    <br/>
    <div class="cont">
        <ng-container *ngIf="loading">
            <div>
                <span>
            <input type="text" placeholder="Search by field" (click)="makeSearch()"[(ngModel)]="orderchterlists">
        </span>
        <span (click)="getLists()">
          <button>Search</button>
        </span>
        <br/>
        <span (click)="makeOrder()" (click)="getLists()">
          <button>Order</button>
        </span>
        <br/>
        <span>
          <input type="text" placeholder="Filter by name or id" (click)="makeFilter()" [(ngModel)]="orderchterlistf">
        </span> 
        <span (click)="getLists()">
          <button>Filter</button>
        </span>
                <div *ngFor="let c of lists">
                    <span (click)="getTasks(c)" (click)="getList(c)">
                        <input type="text" [(ngModel)]="c.name" class="xdlists">
                    </span>
                    <span style="color:red" (click)="deleteList(c)">    Delete </span>
                    <span style="color:green" (click)="updateTaskList(c)"> Update</span>
                    
                </div>
            </div>
        </ng-container>
    </div>
    <br/>
    <h2>Tasks:</h2>
    <span>
            <input type="text" placeholder="Search by field" (click)="maketSearch()"[(ngModel)]="orderchtertasks">
        </span>
        <span (click)="getTasks(list)">
          <button>Search</button>
        </span>
        <br/>
        <span (click)="maketOrder(list)" (click)="getTasks(list)">
          <button>Order</button>
        </span>
        <br/>
        <span>
          <input type="text" placeholder="Filter by name or id" (click)="maketFilter()" [(ngModel)]="orderchtertaskf">
        </span> 
        <span (click)="getTasks(list)">
          <button>Filter</button>
        </span>
    <div>
        <div *ngFor="let t of tasks">
    <BR/>
    <div>
        <input type="text" [(ngModel)]="t.name" >
        <input type="text" [(ngModel)]="t.due_on" >
        <input type="text" [(ngModel)]="t.status" >
        <input type="text" [(ngModel)]="tasklist_id" >
        <button (click)="updateTask(t)">Update</button>
    </div>
</div>
</div>
    <h2>List's Info</h2>
    <BR/>
    <div>
        <h2>{{list1}}</h2>
    </div>
</content>
</div>
</ng-container>