<!-- <app-child [title]="'Title From Parent!'"
            [numberArray]="[1,2,3,4,5]"
             (output)="output = $event"
             (stringArray)="stringArray = $event">
</app-child>


OUTPUT STRING             
<h3>{{output}}</h3>

INPUT STRINGS
<div>

    <div *ngFor="let a of stringArray">
        {{a}}
    </div>

</div>


SEND VIA SERVICE

<DIV (click)="sendMessageViaService()">sendSmth</DIV> -->
<header>
    <h1>ToDo LIST</h1>
</header>
<div class="bodyall">
<content>
    <ng-container *ngIf="!loading">
        <h2>SCREW YOU, LEATHER MAN! REACT CLUB TWO BLOCK BELOW!</h2>
    </ng-container>
    <br/>
    <h2>Lists:</h2>
    <br/>
    <div class="cont">
        <ng-container *ngIf="loading">
            <div>
                <div *ngFor="let a of lists" (click)="getTasks(a)" (click)="getList(a)" class="xd">{{a.id}}-{{a.name}}</div>
            </div>
        </ng-container>
    </div>
    <br/>
    <h2>Tasks:</h2>
    <div>
        <div *ngFor="let t of tasks">{{t.id}} - {{t.name}} - {{t.due_on}} - {{t.status}}</div>
    </div>
    <BR/>
    <h2>List's Info</h2>
    <BR/>
    <div>
        <h2>{{list1}}</h2>
    </div>
</content>
</div>